In [3]:
from IPython.display import Markdown, display

with open("description.md", "r") as file:
    md_content = file.read()
display(Markdown(md_content))

# Problem 5

[**Smallest multiple**](https://projecteuler.net/problem=5)

## Description:
2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

## Task:
What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

### Without optimized libraries

In [30]:
from collections import defaultdict


def get_prime_factors1(number):
    factors = defaultdict(int)

    factor = 2
    while number != 1:
        if number % factor == 0:
            while number % factor == 0:
                factors[factor] += 1
                number = number // factor
        else:
            factor += 1
    return factors

In [31]:
def union_of_prime_factors(prime_factors_counts):
    prime_powers = defaultdict(int)
    for factor_counts in prime_factors_counts:
        for factor, count in factor_counts.items():
            prime_powers[factor] = max(prime_powers[factor], count)

    return prime_powers

In [32]:
divisors = list(range(11, 21))

prime_factors = [get_prime_factors1(divisor) for divisor in divisors]

prime_factors_powers = union_of_prime_factors(prime_factors)

smallest_multiple = 1
for k, v in prime_factors_powers.items():
    smallest_multiple *= k**v

print(smallest_multiple)

232792560

### With optimized libraries

In [36]:
from sympy import factorint
import pandas as pd

divisors = list(range(11, 21))

_factorintSeries = [pd.Series(factorint(divisor)) for divisor in divisors]
df = pd.concat(_factorintSeries, axis=1).T.fillna(0).astype(int)
df

   11  2   3   13  7   5   17  19
0   1   0   0   0   0   0   0   0
1   0   2   1   0   0   0   0   0
2   0   0   0   1   0   0   0   0
3   0   1   0   0   1   0   0   0
4   0   0   1   0   0   1   0   0
5   0   4   0   0   0   0   0   0
6   0   0   0   0   0   0   1   0
7   0   1   2   0   0   0   0   0
8   0   0   0   0   0   0   0   1
9   0   2   0   0   0   1   0   0

In [37]:
max_prime_factors = df.max()
max_prime_factors

11    1
2     4
3     2
13    1
7     1
5     1
17    1
19    1
dtype: int64

In [43]:
multipliers = max_prime_factors.index**max_prime_factors
multipliers.prod()

np.int64(232792560)